.calendar-page {
    position: relative;
    padding: 20px;
  }
  
  .header {
     display: flex;
    /*justify-content: space-between;
    align-items: center; */
    align-items: center;
    align-self: center;
    direction: rtl;
  }
  
  .back-button {
    background: none;
    border: none;
    color: #eee;
    font-size: 8px;
    cursor: pointer;
  }
  
  .back-button:hover {
    text-decoration: underline;
  }
  
  .react-calendar__navigation button{
    color: #eee;
  }